# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and Logs
data/
logs/
.ipynb_checkpoints/
kafka/
venv/
venv.bak/
env/
env.bak/

# Spark / Hadoop
checkpoint/
derby.log
metastore_db/
spark-warehouse/

# IDEs
.vscode/
.idea/
